body {
    background: linear-gradient(
        -90deg,
        #160921,
        #220f31,
        #37184e,
        #481f68
    );
}

.containerGame {
    padding: 0;
    margin: 0;
    text-align: center;
}

.titulo {
    color: #bfe0c0;
    font-size: 30pt;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    text-shadow: 3px 4px 5px black;
}