body {
    background: linear-gradient(
        -90deg,
        #160921,
        #220f31,
        #37184e,
        #481f68
    );
}

.containerGame {
    padding: 0;
    margin: 0;
    text-align: center;
}

.titulo {
    color: #bfe0c0;
    font-size: 30pt;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    text-shadow: 3px 4px 5px black;
    margin-top: 50px;
}

.center {
    display: flex;
    justify-content: center;
    width: auto;
}

.game {
    position: absolute;
    background-color: #f2af60;
    min-width: 300px;
    min-height: 300px;
    width: auto;
    height: auto;
    margin-top: 50px;
    border-radius: 3px;
    border: 1px solid #160921;
    box-shadow: 0px 0px 10px black;
    padding: 3px;
}

.gridGame {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
}

button {
    min-width: 100px;
    min-height: 100px;
    width: auto;
    height: auto;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

.meioDireito {
    border-right: 2px solid black;
}

.meioEsquerdo {
    border-left: 2px solid black;
}

.meioCima {
    border-top: 2px solid black;
}

.meioBaixo {
    border-bottom: 2px solid black;
}