body {
    background: linear-gradient(
        -90deg,
        #160921,
        #220f31,
        #37184e,
        #481f68
    );
}


.containerGame {
    padding: 0;
    margin: 0;
    text-align: center;
}

.titulo {
    color: #bfe0c0;
    font-size: 30pt;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    text-shadow: 3px 4px 5px black;
    margin-top: 50px;
}

.scorePlayers {
    position: absolute;
    top: 70px;
    left: 30px;
}

.styleInput, .styleInput::placeholder {
    font-weight: bold;
    font-size: 14pt;
    font-family: Arial, Helvetica, sans-serif;
    padding: 3px;
    color: #e7e7c6;
    background: none;
    border:  none;
    width: 100px;
}

input:focus {
    outline: none;
    border-bottom: 2px solid #1609218f;
    box-shadow: 5px 2px 6px rgba(0, 0, 0, 0.185);
}

.scorePlayers p {
    color: #d6d6b4;
    font-size: 16pt;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

.center {
    display: flex;
    justify-content: center;
    width: auto;
}

.game {
    position: absolute;
    background-color: rgb(242, 175, 96);
    min-width: 300px;
    min-height: 300px;
    width: auto;
    height: auto;
    margin-top: 50px;
    border-radius: 3px;
    border: 1px solid #160921;
    box-shadow: 0px 0px 10px black;
    padding: 3px;
}

.gridGame {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
}

button {
    min-width: 100px;
    min-height: 100px;
    width: auto;
    height: auto;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

.font {
    font-size: 50pt;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 5px 5px 10px black;
}

.meioDireito {
    border-right: 2px solid black;
}

.meioEsquerdo {
    border-left: 2px solid black;
}

.meioCima {
    border-top: 2px solid black;
}

.meioBaixo {
    border-bottom: 2px solid black;
}

button:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.4);
}

.inputBtn {
    margin: 400px 10px 0px 10px;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14pt;
    border-radius: 3px;
    border: none;
    background-color: #fdcc95;
    box-shadow: 3px 3px 5px black;
}

@keyframes pulse {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.01);
    }
    100%{
        transform: scale(1);
    }
}

.inputBtn:hover {
    cursor: pointer;
    background-color: #f0b674;
    animation: pulse 1s infinite;
}

.inputBtn:active {
    background-color: #f2af60;
    padding: 4px;
    box-shadow: none;
    border: 1px solid black;
}

.dific, input {
    margin: 15px;
}

#btn-08 {
    margin-top: 370px;
}

#btn-80 {
    margin-top: 30px;
}

.dific {
    display: flex;
}

.contBtn {
    display: flex;
    justify-content: center;
    margin-left: 70px;
}